@import url(https://fonts.googleapis.com/css?family=Raleway);
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-primary{
  color:#353935 ;
}
.text-second{
  color:#fdeb49 ;
}

.bg-primary{
  background-color:#353935 ;
}
.bg-second{
  background-color:#fdeb49 ;
}